$TABLET_WIDTH: 1200px;
$screen-sm: $TABLET_WIDTH - 1px;
$screen-md: $TABLET_WIDTH;

body .commonDialog {
  .commonDialogPaper {
    min-width: 300px;
    width: 600px;
    margin: 10vh auto;
    overflow: visible;

    &:focus {
      outline: none;
    }

    @media (max-width: $screen-sm) {
      width: 600px;
    }

    @media (min-width: $screen-md) {
      width: 900px;
    }
    .commonDialogNoOverflow {
      overflow-y: unset;
    }
    .commonDialogFooter {
      padding-bottom: 8px;
      display: flex;
      width: 100%;
      .left,
      .right {
        flex: 1 1 auto;
        button {
          + button {
            margin-left: 8px;
          }
        }
      }
      .right {
        text-align: right;
      }
    }
  }
}
