@import "../../styles/colors.scss";
@import "../../styles/navbar-constants.scss";

.appBar {
  margin-bottom: $grail-navbar-margin-bottom;
  .nonProductionWarning {
    background-color: $grail-red-color;
    text-align: center;
    color: white;
  }

  .toolbar {
    justify-content: space-between;
    position: relative;
    .center {
      flex-grow: 2;
      margin: 0 20px;
      display: flex;
      justify-content: center;
    }
    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .brand {
        svg {
          height: 100%;
        }
        height: 22px;
        margin-right: 12px;
      }
    }
  }
}
