@import "../styles/navbar-constants.scss";

.tabbedCardContainer {
  .stickyHeader {
    position: sticky;
    z-index: 20;
    top: 118px;
  }

  .pageHeader {
    margin-top: -$grail-navbar-margin-bottom;
    margin-bottom: 20px;

    .cardHeader {
      .headerActions {
        margin-top: 0;
        margin-right: 0;

        > * + * {
          margin-left: 12px;
        }
      }

      .headerTab {
        width: 250px;
      }
    }
  }
}