@import "../styles/colors";

.signInPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: fadeIn 1.3s ease-in both;
    background-position: bottom;
    background-size: cover;
  }

  .contents {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    animation: fadeIn 0.3s ease-in both;
    svg {
      margin: auto;
    }
  }

  .mission {
    font-size: 20px;
    margin-bottom: 8vh;
    color: $grail-light-color;
    font-style: oblique;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
