@import "../styles/colors";

$paper-pointer-length: 16px;
$paper-pointer-half-length: calc(#{$paper-pointer-length} / 2);

$line-notch-length: 12px;
$line-notch-border-width: 2px;
$line-notch-half-length: calc(#{$line-notch-length} / 2);

$selected-line-notch-length: 14px;
$selected-line-notch-half-length: calc(#{$selected-line-notch-length} / 2);

$shadow-color: rgba(0, 0, 0, 0.14);
$active-color: $grail-gray-light-color;

$border: $grail-purple-color solid 1px;
$notch-placement-left: calc((#{$line-notch-length} + #{$line-notch-border-width}) * -1 / 2);
$selected-notch-placement-left: calc((#{$selected-line-notch-length} + 2px) * -1 / 2);

$date-width: 50px;
$date-margin: 15px;

@mixin timelinePaper {
  margin-left: 25px;
  width: calc(100% - 25px);
  min-height: 60px;
  display: flex;
  align-items: center;
  position: relative;

  // Paper arrow.
  &:before {
    height: $paper-pointer-length;
    width: $paper-pointer-length;
    position: absolute;
    top: calc(50% - #{$paper-pointer-half-length});
    content: "";
    transform: rotate(45deg);
    box-shadow: -1px 3px 5px -1px $shadow-color;
    margin-left: -8px;
    background: #FFF;
  }
}

.timelineContainer {
  // Default common card styling.
  .timelineCard {
    min-height: 400px;
    overflow-y: scroll;
    min-width: 380px;
    max-width: 500px;
  }

  .timelineContent {
    margin: 25px 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;

    // Date.
    .timelineDateContainer{
      margin: auto $date-margin auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: $date-width;

      > * {
        color: $grail-gray-medium-color;
      }

      .timelineDate {
        width: $date-width;
      }

      .smallDate {
        font-size: 11px;
      }
    }

    // Timeline paper.
    .timelinePaper {
      @include timelinePaper;
    }

    // Clickable timeline paper.
    .timelinePaperButton {
      @include timelinePaper;

      &:hover {
        cursor: pointer;
      }

      &:active {
        background: $active-color;
        box-shadow: 0 2px 8px 0 $shadow-color;
      }

      &:active:before {
        background: $active-color;
        box-shadow: -1px 2px 5px -1px $shadow-color;
      }

      // Selected Timeline paper.
      &.timelinePaperSelected {
        min-height: 85px;
        font-size: 16px;
        border: $border;

        &:before {
          z-index: 0;
          border-bottom: $border;
          border-left: $border;
          margin-left: -9px;
        }

      }
    }

    // Paper content wrapper.
    .paperContent {
      z-index: 1;
      margin: 10px;
    }

    // Div wrapping timelinePaper whose left-border represent the actual line
    .timeline {
      position: relative;
      padding: 20px 0;
      width: calc(100% - #{$date-width} - #{$date-margin});
      border-left: solid 2px $grail-contrast-color;
      overflow: visible;
    }

    // Notch for dates on line.
    .notch {
      position: absolute;
      background-color: white;
      height: $line-notch-length;
      width: $line-notch-length;
      left: $notch-placement-left;
      top: calc(50% - #{$line-notch-half-length});
      border-radius: 50%;
      border: $line-notch-border-width solid $grail-contrast-color;

      // Style notch when selected.
      &.selected {
        background-color: $grail-purple-color;
        border: 1px solid $grail-contrast-color;
        height: $selected-line-notch-length;
        width: $selected-line-notch-length;
        left: $selected-notch-placement-left;
        top: calc(50% - #{$selected-line-notch-half-length});
      }
    }

    // Timeline start circle.
    .timelineStart {
      &:before {
        content: "\A";
        position: absolute;
        left: $notch-placement-left;
        top: -5px;
        width: $line-notch-length;
        height: $line-notch-length;
        border-radius: 50%;
        background-color: $grail-contrast-color;
        display: inline-block;
      }
    }

    // Timeline end square.
    .timelineEnd {
      &:after {
        content: "\A";
        position: absolute;
        left: $notch-placement-left;
        bottom: -5px;
        width: $line-notch-length;
        height: $line-notch-length;
        background-color: $grail-contrast-color;
        display: inline-block;
      }
    }
  }
}
