@import "../styles/colors.scss";

$timeline-path-color: $grail-gray-dark-color;

.timelineGraph {
  width: 100%;
  height: 100%;
  overflow: auto;
  .timelineSvg {
    .timelinePath {
      stroke: $timeline-path-color;
      fill: transparent;
      stroke-width: 2;
    }
    .timelineBlock {
      fill: white;
      stroke: $grail-purple-color;
    }
    .isSelected {
      .timelineBlock {
        fill: $grail-purple-light-color;
      }
    }
    .isSelectable {
      cursor: pointer;
      .timelineBlock:hover {
        fill: lighten($grail-purple-light-color, 10%);
      }
    }
    .timelineBlockContent {
      pointer-events: none;
      text {
        alignment-baseline: middle;
      }
      .date {
        fill: $grail-gray-medium-color;
        font-size: 0.75rem;
        text-anchor: end;
        transform: translateX(-10px);
      }
    }
    .timelinePathFinial {
      fill: $timeline-path-color;
    }
  }
}
