@import "../styles/colors.scss";

.commonSwitch {
  display: inline-block;
  position: relative;

  .controlLabel {
    margin: 0;
  }

  .switchHelperText {
    margin-top: -7px;
    position: absolute;
  }

  .error {
    color: $grail-red-color;
  }
}
