@import "../styles/colors.scss";
.panel {
  .panelHeader {
    padding: 10px;

    &.primary {
      background-color: $grail-purple-light-color;
    }
  }
  .panelBody {
    padding-top: 10px;
  }
}
div,
.panel {
  + .panel {
    margin-top: 30px;
  }
}
