@import "../styles/colors";

@mixin highlighted-row {
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $grail-gold-color;
  }
}
