@import "../styles/breakpoints.scss";
@import "../styles/colors.scss";
@import "./highlighted-row.scss";
@import "../styles/scrollbar.scss";

@mixin single-icon-styling {
  &.singleIcon {
    padding: 0;
    width: 80px;
    &.iconInHeaderOnly {
      width: 60px;
    }
  }
}

.pagedTableCardRoot {
  position: relative;
  .pagedTableCardBody {
    padding: 0;
    &.hasTableMargin {
      margin: 0 20px;
    }
  }
  &.fullBleedPagedTableCardRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .pagedTableCardFooter {
    &.tableFooter {
      padding-top: 0;
      padding-right: 10px;
      height: 50px;
      margin-top: 5px;

      .tablePager,
      .tableSummary {
        width: 100%;
      }
    }

    .selectRowCount,
    .tableSummary {
      font-size: 0.75rem;
    }
  }
}

.tableContainer {
  max-height: 400px;

  @include media-breakpoint-up(lg) {
    max-height: 600px;
  }
}
.fullBleedPagedTableCardRoot {
  .tableContainer {
    height: unset;
    max-height: unset;
    margin: 0;
    flex: 1;
  }
}

$scrollbar-width: 7px;
.tableContainer {
  position: relative;
  overflow: auto;
  // Make scrollbar more obvious on tables, since users have a hard time seeing
  // overflowable content (especially on Mac)
  @include grail-scrollbar($scrollbar-width);
  thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  .table {
    &:focus {
      outline: none;
    }
  }

  .highlightedRow {
    td:first-child {
      position: relative;
      @include highlighted-row;
    }
  }

  .noResults {
    padding: 50px;
    text-align: center;
  }
  

  .tableHead {
    .tableHeader {
      @include single-icon-styling;
      
      &.checkBoxColumn {
        padding-top: 0;
        padding-bottom: 0;

        .checkBox {
          visibility: hidden;
        }
      }
      
      &.noWrap {
        white-space: nowrap;
      }
    }
  }

  .tableRow {
    height: 48px;
    
    .checkBoxColumn {
      padding-top: 0;
      padding-bottom: 0;

      .checkBox {
        visibility: hidden;
      }
    }

    .tableCell {
      max-width: 200px;
      word-wrap: break-word;
      @include single-icon-styling;
    }
  }
}
.autosizeHeight {
  height: 100%;
  max-height: unset;
}
.spinnerOverlay {
  z-index: 2;
}
