@import "../styles/breakpoints.scss";
@import "../styles/colors";
@import "./highlighted-row";

%common-table-cell {
  padding: 4px;
  @include media-breakpoint-up(xl) {
    padding: 4px 48px 4px 24px;
  }
}

.pagedTableCardRoot {
  position: relative;
  .pagedTableCardBody {
    padding: 0;
    &.hasTableMargin {
      margin: 0 20px;
    }
  }
  &.fullBleedPagedTableCardRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .pagedTableCardFooter {
    &.tableFooter {
      padding-top: 0;
      padding-right: 10px;
      height: 50px;
      margin-top: 5px;

      .tablePager {
        width: 100%;
      }
    }

    .selectRowCount {
      font-size: 0.75rem;
    }
  }
}

.tableContainer {
  max-height: 400px;

  @include media-breakpoint-up(lg) {
    max-height: 600px;
  }
}
.fullBleedPagedTableCardRoot {
  .tableContainer {
    height: unset;
    max-height: unset;
    margin: 0;

    .tableHeader:first-child,
    .tableCell:first-child {
      padding-left: 16px;
    }
  }
}

.tableContainer {
  position: relative;
  overflow: auto;
  // Make scrollbar more obvious on tables, since users have a hard time seeing
  // overflowable content (especially on Mac)
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  .table {
    &:focus {
      outline: none;
    }
  }

  .highlightedRow {
    td:first-child {
      position: relative;
      @include highlighted-row;
    }
  }

  .noResults {
    padding: 50px;
    text-align: center;
  }
  .singleIcon {
    padding: 0;
    width: 80px;
    @include media-breakpoint-up(md) {
      padding: 0 10px 0 8px;
    }
  }

  .tableHeader {
    @extend %common-table-cell;
  }

  .tableRow {
    height: 48px;
  }

  .tableCell {
    @extend %common-table-cell;
    max-width: 200px;
    word-wrap: break-word;
  }
}
.spinnerOverlay {
  z-index: 2;
}
