@import "../../styles/colors";

.pageContainer {
  position: relative;
  .stickyHeader {
    position: sticky;
    z-index: 20;
  }

  .pageHeader {
    border-radius: 0;

    .cardHeader {
      min-height: 68px;
      .headerActions {
        margin-top: 0;
        margin-right: 0;

        > * + * {
          margin-left: 12px;
        }
      }
    }
  }

  .contentAndMenu {
    display: flex;
    overflow-x: hidden;
    background-color: $grail-gray-lightest-color;

    .content {
      width: 100%;
      overflow-y: auto;
    }
  }
  .spinnerOverlay {
    z-index: 30;
  }
}
