@import "../../styles/colors";
@import "../highlighted-row";

.table {
  width: 100%;
  > div {
    outline: none;
  }
  // .headerText matches Material Table header
  .headerText {
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: 500;
  }
  .row, .headerRow {
    display: flex;
    flex-direction: row;
    > div {
      margin: auto 0;
    }
    border-bottom: 1px solid $grail-gray-light-color;
  }

  .highlightedRow {
    @include highlighted-row;
    background-color: rgba(0, 0, 0, 0.04);
  }
  .tableCell {
    padding: 0 4px;
  }
}
