@import "../styles/colors.scss";

.gridItem {
  width: 100%;
  padding: 6px;
  display: flex;

  .labelColumn {
    margin: auto 0;

    .rowLabel {
      color: $grail-gray-medium-color;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .valueColumn {
    margin: auto 0;
  }
}
