@import "../styles/colors.scss";

@mixin largerTextSize {
  font-size: 16px;
  line-height: 20px;
}

@mixin header {
  font-weight: bold;
  color: $material-ui-black;
  @include largerTextSize;
}

.gridItem {
  width: 100%;
  display: flex;

  .column {
    &.labelColumn {
      .rowLabel {
        color: $grail-gray-medium-color;
        font-weight: 400;
        @include largerTextSize;
      }

      .header {
        @include header;
      }
    }

    // Listing .column twice as a selector raises specificity over some Material UI Grid selectors which would otherwise
    // override this one.
    &.column {
      margin: 6px auto;
      padding: 0 10px;

      .header {
        @include header;
      }
    }
  }

  // Similarly, .gridItem is listed twice to raise specificity over Material UI Grid selectors.
  &.gridItem {
    margin: 0;
  }
}
