@import "~@grail/lib/constants/colors.scss";


@mixin flatten-colors($background-color, $background-percentage, $text-color, $text-percentage) {
	background-color: lighten($background-color, $background-percentage);
	color: darken($text-color, $text-percentage);
}

.alertContainer {

	.flat {
		box-shadow: none;
	}

	.error {
		background-color: $grail-red-color;
		color: #FFF;
		&.flat {
			@include flatten-colors($grail-red-color, 42%, $grail-red-color, 20%);
		}
	}

	.info {
		background-color: $grail-blue-color;
		color: #FFF;
		&.flat {
			@include flatten-colors($grail-blue-color, 58%, $grail-blue-color, 10%);
		}
	}

	.success {
		background-color: $grail-green-color;
		color: #FFF;
		&.flat {
			@include flatten-colors($grail-green-color, 62%, $grail-green-color, 15%);
		}
	}

	.warning {
		background-color: $grail-gold-color;
		color: #FFF;
		&.flat {
			@include flatten-colors($grail-gold-color, 48%, $grail-contrast-color, 15%);
		}

	}

	.center {
		margin: 0 8px;
		width: 100%;
		text-align: center;
	}

	.alertIcon {
		margin-right: 5px;
		vertical-align: middle;
	}
}
