@import "../../styles/colors";
@import "./constants";

.pageContainer {
  .stickyHeader {
    position: sticky;
    z-index: 20;
  }

  // Wrapper around header items.
  .pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titleFlexContainer {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      .titleContainer {
        margin: 10px 5px 10px 24px;

        .title {
          font-weight: bold;
        }
      }
    }

    .centerHeader {
      flex: 1 1 auto;
      align-self: stretch;
      overflow-x: hidden;

      .tabsContainer {
        height: 100%;

        .tabs {
          height: 100%;
          .tab {
            font-weight: bold;
          }
        }

        .scrollButton:first-child {
          box-shadow: inset 6px 0px 5px 0px $box-shadow-color;
          &:empty {
            box-shadow: none;
          }
        }

        .scrollButton:last-child {
          box-shadow: inset -6px 0px 5px 0px $box-shadow-color;
          &:empty {
            box-shadow: none;
          }
        }
      }
    }

    .headerActionsContainer {
      flex: 0 1 auto;

      .headerActions {
        padding: 5px 0 5px 5px;
        display: flex;
        align-items: center;

        > * + * {
          margin-left: 5px;
        }

        .primaryActions {
          display: inline-block;

          .primaryAction {
            white-space: nowrap;
          }
        }

        .secondaryActionsButton {
          display: inline-block;

          .disabled {
            color: transparent;
          }
        }
      }
    }
  }

  // Page content.
  .content {
    width: 100%;
    overflow-y: auto;
  }
}

// Wrapper around list of secondary actions.
.secondaryActions {
  > ul {
    padding: 0;
  }
}
