@import "../../styles/colors";
@import "./constants";

.pageContainer {
  position: relative;
  .stickyHeader {
    position: sticky;
    z-index: 20;
  }

  // Wrapper around header items.
  .pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titleContainer {
      margin: 10px 10px 10px 24px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 0 1 auto;
      align-self: stretch;
      &:empty {
        flex: 1 1 auto;
      }

      .title {
        font-weight: bold;
      }
    }

    .placeHolder {
      flex: 1 1 auto;
    }

    .centerHeader {
      flex: 1 1 auto;
      align-self: stretch;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      min-width: 160px;
      &:empty {
        flex: 1 1 auto;
      }

      .tabsContainer {
        height: 100%;

        .tabs {
          height: 100%;
          .tab {
            font-weight: bold;
          }
        }

        // Display a slight shadow if tabs are hidden.
        .scrollButton:first-child {
          box-shadow: inset 6px 0 5px 0 $box-shadow-color;
          &:empty {
            box-shadow: none;
          }
        }

        .scrollButton:last-child {
          box-shadow: inset -6px 0 5px 0 $box-shadow-color;
          &:empty {
            box-shadow: none;
          }
        }
      }
    }

    .headerActions {
      padding: 5px 0 5px 10px;
      display: flex;
      align-items: center;
      align-self: stretch;
      flex: 0 1 auto;
      justify-content: flex-end;
      &:empty {
        flex: 1 1 auto;
      }

      > * + * {
        margin-left: 5px;
      }

      .primaryActions {
        display: flex;

        .primaryAction {
          white-space: nowrap;
        }

        .primaryAction + .primaryAction {
          margin-left: 5px;
        }
      }

      .secondaryActionsButton {
        display: inline-block;

        .disabled {
          color: transparent;
        }
      }
    }
  }

  // Page content.
  .content {
    width: 100%;
    overflow-y: auto;
  }
}

// Wrapper around list of secondary actions.
.secondaryActions {
  > ul {
    padding: 0;
  }
}
